{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Tanmay's Portfolio</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'website/assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'website/assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Vendor CSS Files -->
  <link href="{% static 'website/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'website/assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'website/assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'website/assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'website/assets/css/style.css' %}" rel="stylesheet">
  <style>
    *{
        scroll-behaviour: smooth;
    }
  </style>

  <!-- =======================================================
  * Template Name: DevFolio
  * Updated: Jul 27 2023 with Bootstrap v5.3.1
  * Template URL: devfolio-bootstrap-portfolio-html-template/
  * Author: You.com
  * License: license/
  ======================================================== -->
</head>

<body>
  <!-- ======= Header ======= -->
  <header id="header" class="sticky-top bg-dark d-block">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"><a href="{% url 'website:index' %}">Tanmay More</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="{% static 'website/assets/img/logo.png' %}" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto" href="{% url 'website:index' %}#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="{% url 'website:index' %}#about">About</a></li>
          <li><a class="nav-link scrollto" href="{% url 'website:index' %}#services">Services</a></li>
          <li><a class="nav-link scrollto " href="{% url 'website:projects' %}">Work</a></li>
          <li><a class="nav-link scrollto " href="{% url 'website:blogs' %}">Blog</a></li>
          <li><a class="nav-link scrollto" href="{% url 'website:index' %}#contact">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

<!-- ======== Blog ====== -->

   <!-- ======= Blog Section ======= -->
   <section id="blog" class="blog-mf sect-pt4 route">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="title-box text-center">
            <h3 class="title-a">
              Blog
            </h3>
            <p class="subtitle-a">
              My Own Experience and learnings
            </p>
            <div class="line-mf"></div>
          </div>
        </div>
      </div>
      <div class="row">
        {% for blog in blogs_list %}
       <div class="col-md-4">
          <div class="card card-blog">
            <div class="card-img">
              <a href="{% url 'website:blog_detail' blog.id %}"><img src="{{blog.img.url}}" alt="" class="img-fluid"></a>
            </div>
            <div class="card-body">
              <div class="card-category-box">
                <div class="card-category">
                  <h6 class="category">{{ blog.category }}</h6>
                </div>
              </div>
              <h3 class="card-title"><a href="{% url 'website:blog_detail' blog.id %}">{{ blog.title }}</a></h3>
            </div>
            <div class="card-footer">
              <div class="post-author">
                <a href="#">
                  <span class="author">{{ blog.posted_by }}</span>
                </a>
              </div>
              <div class="post-date">
                <span class="bi bi-clock"></span> {{ blog.posted_on }}
              </div>
            </div>
          </div>
       </div>
        {% endfor %}
      </div>
    </div>
  </section>
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="copyright-box">
            <p class="copyright">&copy; Copyright <strong>Tanmay More</strong>. All Rights Reserved</p>

          </div>
        </div>
      </div>
    </div>
  </footer><!-- End  Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'website/assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'website/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'website/assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'website/assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'website/assets/vendor/typed.js/typed.umd.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'website/assets/js/main.js' %}"></script>

</body>

</html>