{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Tanmay's Portfolio</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'website/assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'website/assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Vendor CSS Files -->
  <link href="{% static 'website/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'website/assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'website/assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'website/assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'website/assets/css/style.css' %}" rel="stylesheet">
  <style>
    *{
        scroll-behaviour: smooth;
    }
  </style>

  <!-- =======================================================
  * Template Name: DevFolio
  * Updated: Jul 27 2023 with Bootstrap v5.3.1
  * Template URL: devfolio-bootstrap-portfolio-html-template/
  * Author: You.com
  * License: license/
  ======================================================== -->
</head>

<body>
  <!-- ======= Header ======= -->
  <header id="header" class="sticky-top bg-dark d-block">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"><a href="{% url 'website:index' %}">Tanmay More</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="{% static 'website/assets/img/logo.png' %}" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto" href="{% url 'website:index' %}#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="{% url 'website:index' %}#about">About</a></li>
          <li><a class="nav-link scrollto" href="{% url 'website:index' %}#services">Services</a></li>
          <li><a class="nav-link scrollto" href="{% url 'website:projects' %}">Work</a></li>
          <li><a class="nav-link scrollto" href="{% url 'website:blogs' %}">Blog</a></li>
          <li><a class="nav-link scrollto" href="{% url 'website:index' %}#contact">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

<!-- ======== Blog ====== -->

 <!-- ======= Portfolio Section ======= -->
 <section id="work" class="portfolio-mf sect-pt4 route">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="title-box text-center">
          <h3 class="title-a">
            Portfolio
          </h3>
          <p class="subtitle-a">
            Some of my work, you may like.
          </p>
          <div class="line-mf"></div>
        </div>
      </div>
    </div>
    <div class="row">
      {% for project in projects_list %}
      <div class="col-md-4 my-4">
        <div class="work-box">
            <div class="work-img">
              <img src="{{project.img.url}}" alt="" class="img-fluid">
            </div>
          <div class="work-content">
            <div class="row">
              <div class="col-sm-8">
                <h2 class="w-title">{{project.title}}</h2>
                <div class="w-more">
                  <span class="w-ctegory">{{project.category}}</span> / <span class="w-date">{{project.date}}</span>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="w-like">
                  <a href="{% url 'website:project_detail' project.id %}"> <span class="bi bi-plus-circle"></span></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="mb-5">
    <div class="my-4 d-flex align-items-center justify-content-center">
        <ul class="step-links pagination">
            {% if page_obj.has_previous %}
                <li class="page-item"><a href="?page=1" class="page-link border-primary">&laquo;</a></li>
                <li class="page-item"><a href="?page={{ page_obj.previous_page_number }}" class="page-link border-primary">&larr;</a></li>
            {% endif %}
  
            <li class="current page-item">
              <p class="page-link border-primary"><strong>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</strong></p>
            </li>
  
            {% if page_obj.has_next %}
                <li class="page-item"><a href="?page={{ page_obj.next_page_number }}" class="page-link border-primary">&rarr;</a></li>
                <li class="page-item"><a href="?page={{ page_obj.paginator.num_pages }}" class="page-link border-primary">&raquo;</a></li>
            {% endif %}
          </ul>
    </div>
  </div>
</section>
<!-- ======= Footer ======= -->
<footer>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="copyright-box">
            <p class="copyright">&copy; Copyright <strong>Tanmay More</strong>. All Rights Reserved</p>

          </div>
        </div>
      </div>
    </div>
  </footer><!-- End  Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'website/assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'website/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'website/assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'website/assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'website/assets/vendor/typed.js/typed.umd.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'website/assets/js/main.js' %}"></script>

</body>

</html>