{% extends 'dashboard/base.html' %}
{% block content %}
{% load widget_tweaks %}
    <section class="vh-100" style="background-color: #73956F;">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-10">
              <div class="card bg-dark text-white" style="border-radius: 1rem;">
                <div class="card-body p-5 text-center">
      
                  <div class="mb-md-5 mt-md-4">
                    {% if form.non_field_errors %}
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            {{ form.non_field_errors }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                         </div>
                    {% endif %}
                    {% for field in form %}
                      {% if field.errors %}
                        {% for error in field.errors %}
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                {{ error }}
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        {% endfor %}
                      {% endif %}
                    {% endfor %}
                    <h2 class="fw-bold mb-2 text-uppercase">project Details</h2>
                    <p class="text-white-50 mb-5">Please enter details below!</p>
                    <div class="row">
                    <div class="form-outline form-white mb-4 col">
                        <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.media }}
                        <label class="form-label" for="{{ form.title.id_for_label }}">Title</label>
                        {{ form.title|add_class:"form-control"  }}
                    </div>
                    
                    <div class="form-outline form-white mb-4 col">
                        <label class="form-label" for="{{ form.category.id_for_label }}">Category</label>
                        {{ form.category|add_class:"form-control" }}
                    </div>
                    </div>
                    <div class="row">
                    <div class="mb-4 form-outline form-white mb-4 col">
                      <label class="" for="{{ form.img.id_for_label }}">Upload Image for project</label>
                      {{ form.img }}
                    </div>
                    <div class="mb-4 form-outline form-white mb-4 col">
                        <label class="" for="{{ form.url.id_for_label }}">Project Url</label>
                        {{ form.url|add_class:"form-control" }}
                      </div>
                    </div>
                    <div class="form-outline form-white mb-4">
                        <label class="form-label" for="{{ form.desc.id_for_label }}">Content</label>
                        {{ form.desc|add_class:"form-control" }}
                    </div>
                    <!-- <p class="small mb-5 pb-lg-2"><a class="text-white-50" href="#!">Forgot password?</a></p> -->
      
                    <button class="btn btn-outline-light btn-lg px-5" type="submit">Submit</button>
                    <a href="{% url 'dashboard:projects' %}" class="btn btn-outline-light mx-2 btn-lg px-5">Cancel</a>
                </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    
{% endblock content %}